/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 jun. 2024, 17:57:26
    Author     : edriv
*/
html, body{
    background-color: #00b3b3;
    height: 100%;
    margin: 0;
/*    padding-left: 45px;
    padding-top: 5px;*/
}

.principal{
    
    margin-top: 5%;
    margin-left: 8%;
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
    .cabesera {
        
        flex: 1;
        display: flex; /* Usa flexbox para el layout */
        align-items: center; /* Centra verticalmente los elementos */ 
        /*background-color: red;*/
    }
        .p1 {
            flex: 9; /* Ocupa todo el espacio disponible */
            position: relative;
            display: flex;
            align-items: center;
        }

            .p1 p{
                font-size: 3vh;
                margin: 0;
                padding-left: 1%;
                /*padding-left: 50%;*/
            }

            .p1 img {
                height: 10vh;
                padding-left: 3%;
            }

        .p2 {
            flex: 1; /* Ocupa todo el espacio disponible */
            /*display: flex;*/
            justify-content: flex-end; /* Alinea los elementos a la izquierda */
            align-items: center; /* Centra verticalmente los elementos */
            /*            position: relative;*/
            display: flex;

            /*padding: 10px;  Añade espacio interior para separación */
        }
            .p2 img {
                height: 8vh;
                padding-right: 10%;
            }
            .agendarcita{
                font-size: 4vh;
                margin: 0;
                padding-right: 35%;
            }

    .menu {
        align-items: center; /* Centrar verticalmente */
        border-top: .4vh solid gray;
        border-bottom: .4vh solid gray;
        flex: -6vh;
    }
    
        .menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex; /* Mostrar los elementos en línea */
            width: 100%; /* Ocupa todo el ancho disponible */
            
        }

        .menu li {
            flex: 1; /* Ocupa el espacio disponible de manera equitativa */
            margin-left:  1%; /* Espacio entre cada opción del menú */
            margin-right:  1%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        .menu a {
            text-decoration: none;
            color: black;
/*            padding: 10px;*/
            font-size: 3vh;
            border-right: .1vh solid black; /* Línea superior */
            border-left: .1vh solid black; /* Línea inferior */
            display: block; /* Convertir en bloque para ocupar todo el espacio disponible */
            text-align: center; /* Centrar el texto horizontalmente */
        }

/*        .menu a:hover {
            background-color: red;  
        }*/

    .contenido_principal{
        border: .3vh solid #00b3b3;
        margin: 2%; 
        flex: 8;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
    }
    
        .pedir_datos{
            flex: 1;
            /*background-color: green;*/
            display: flex;
            padding: 0%;
            justify-content: center;  
            
        }
        
            .p3{
                flex: 3;
/*                text-align: center;*/
                /*background-color: #ffff33;*/
                text-align: end;
                
                display: flex;
                justify-content: end;
                align-items: center;
               
            }
                .p3 label{
                    font-size: 3vh;
                    margin: 0;                
                }

            .p4{
                flex: 7;
                font-size: 2vh;
                    /*size: 3vh;*/
                    /*height: 3vh;*/
                    /*max-height: 3vh;*/
                display: flex;
                align-items: center;
                /*background-color: bisque;*/
                
                    /*padding-top: 1.5%;*/
            }
                
                .p4 input{
                    font-size: 2vh;
                    border: .4vh solid #00b3b3;
                    margin-left: 2%;
                    /*font-size: 3vh;*/
                    
                    height: 5vh;
                    width: 70%;
                    max-height: 4vh;
                    border: 0%;
                   
                }
                .p4 input:focus{
                    border: .4vh solid #00b3b3;
                    outline: .4vh solid #00b3b3;
                }
        
        .calendario{
            flex: 7;
            /*background-color: grey;*/
            align-content: center;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 50%;
            text-align: center;
        }
        
        .boton{
            flex: 1;
            /*background-color: #4CAF50;*/  
            font-size: 3vh;/*no se agranda*/
            justify-content: center;
            
        }
        .boton input{
            align-items: center;
            background-color: #00b3b3; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 1vh;
    border: none;  /*Sin borde*/
    border-radius: 1vh; /* Borde redondeado */
    text-align: center;  /*Alineación del texto */
    font-size: 3vh; 
                    border: .4vh solid #00b3b3;
                    margin-left: 50%;
        }

            .caler{
                flex: 58;
                /*background-color: bisque;*/
                
            }

/* Media query para pantalla grande */
@media screen and (min-width: 1200px) {
    .calendario_pos{
        height: 65%;
        width: 50%;
        /*background-color: #ccffcc;*/
        margin-left: 15%;
        margin-top: 5%;
        font-size: 2.5vh;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
        padding: 0%; /* Añade un padding para separar la tabla del borde */
        box-sizing: border-box; /* Incluye el padding en el ancho total */
    }
}
                @media screen and (max-width: 1199px) {
                    .calendario_pos{
                        height: 100%;
                        width: 100%;
                        /*background-color: #ccffcc;*/
                        /*                    margin-left: 15%;
                                            margin-top: 5%;*/

                        font-size: 4.2vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow-x: auto;
                        padding: 0%; /* Añade un padding para separar la tabla del borde */
                        box-sizing: border-box; /* Incluye el padding en el ancho total */
                    }
                }
          
            .horas{
                flex: 42;
                /*background-color: #cc66ff;;*/
                display: flex;
/*                justify-content: center;*/
                align-items: center;
                font-size: 3vh;
                
            }
            
                .horas select{
                    height: 10%;
                    max-width: 30%;
                    font-size: 3vh;
                     position: relative;
                    top: -12vh;
                }

                .horas label{
                    position: relative;
                    top: -12vh;
/*                    padding-left: 2%;
                    padding-right: 4%;*/
                }
                    

table {
    width: 100%;
    max-width: 100%; /* Asegura que la tabla no exceda el ancho del contenedor */
    border-collapse: collapse;
    height: 100%;
    
}

th, td {
    border: .1vh solid #000;
/*    padding-top: 3% ;
    padding-bottom: 3% ;*/
    text-align: center;
    font-size: 100%;
}

